.get-started-btn{
    background-color: rgb(171,82,179);
    color:white;
    font-size: auto;
    align-items: bold;
    height: 30px;
    width: 90px;
    border: none;
    margin-right:10px;
}
.download-btn{
    background-color: white;
    color: green;
    height: 30px;
    width: 90px;
    border: 2px solid rgb(108,117,125);
    border-radius: 3px;
}