.get-started-btn{
    background-color: rgb(10,102,194);
    color:white;
    font-size: auto;
    align-items: bold;
    height: 45px;
    width: 200px;
    border: none;
    border-radius: 19px;
    margin-right:10px;
}
.download-btn{
    background-color: white;
    color: rgb(10,102,194);
    height: 45px;
    width: 80px;
    font-size: auto;
    border: 2px solid greenyellow;
    border-radius: 19px;
}